.wedding-invitation-wrapper {
    background-color: #3a86be;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 12px 24px rgba(27,50,129,.64);
    border-radius: 30px 30px 0 0;
}

.wedding-title {
}

.image-button-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-width: 250px;
    min-height: 60px;
    font-size: 18px;
    font-family: 'Rocher', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: linear-gradient(0deg, rgb(61 85 82) 0%, rgba(27,50,129,.64) 100%);
    border: none;
    border-radius: 25px;
    box-shadow: 12px 12px 24px rgba(27,50,129,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid rgba(27,50,129,.64);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}