

@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --Mint {
  font-family: Rocher, serif;
  base-palette: 7;
}

.mint {
  font-palette: --Mint;
}

.App {
  text-align: center;
  font-family: 'Rocher', sans-serif;
  max-width: 100%;
  margin: auto;
}

.App-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  .App-header {
    flex-direction: row;
  }
}
